{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Chat History</title>

    <link rel="stylesheet" type="text/css" href="{% static 'history/css/foundation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'history/css/app.css' %}">
  </head>
  <body>
    {% block content %}{% endblock content %}
    <script src="{% static 'history/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'history/js/vendor/what-input.js' %}"></script>
    <script src="{% static 'history/js/vendor/foundation.js' %}"></script>
    <script src="{% static 'history/js/app.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
