{% load static %}
<div class="callout">
  <div class="grid-container">
    <div class="grid-x grid-margin-x  ">
      <div class="cell medium-3 small-12 align-center-middle text-center">
        <a href="/"><img src="{% static 'history/images/logodeeptelegram.svg' %}"></a>
      </div>
      <div class="cell medium-9 small-12 align-center-middle text-center">
        <div class="row column text-center">
          <h3>Searching in the Deep Telegram Knowledge</h3>
          <p class="lead">Understand each other better</p>
        </div>
      </div>
    </div>
  </div>
</div>
