{% extends 'history/base.html' %}
{% load static %}

{% block content %}
  {% include 'history/header.html' %}
  <div class="grid-container">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell small-6">
          <h4>Messages ({{ msg_count }})</h4>
        </div>
        {% include page_template %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  {{ form.media }}
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock extra_js %}
