{% load static %}
{% load el_pagination_tags %}

{% paginate messages %}
{% for message in messages %}
  <div class="media-object" data-closable>
    <div class="media-object-section">
      <img class="group-picture clip-circle" src= "{% static message.contextid.picture %}">
    </div>
    <div class="media-object-section">
      <img class="thumbnail" width="4%" clip-circle src="{% static message.fromid.picture %}">
      <span class="message header">
      {{ message.fromid.fullname_html }}
      <span class="date">{{ message.formatted_datetime }}</span>
      @ <span class="group name">{{ message.contextid.title }}</span>
      </span>
      <a class="button small" target="_blank" href="{% url 'message' %}?message_id={{ message.id }}&group_id={{ message.contextid.id }}">open</a>
      {% if message.repliedto %}
        <div class="quoted-container">
        <span class="quoted header">
          {{ message.repliedto.fromid.fullname_html }}
          <span class="date">{{ message.repliedto.formatted_datetime }}</span>
        </span>
        <span class="quoted message">{{ message.repliedto.message|truncatechars:200 }}</span>
        </div>
      {% endif %}
      <span class="message">{{ message.message|linebreaks }}</span>
    </div>
  </div>
{% endfor %}

{% show_more %}
