<div class="grid-x grid-margin-x  ">
  <div class="cell medium-12 small-12 align-center-middle text-center">
    <h4>What you looking for?</h4>
    <form action="" method="GET">
      {{ form.as_p }}
      <input class="expanded rounded button align-center" type="submit" value="DIVE">
    </form>
  </div>
</div>

