{% load static %}
      <div class="cell small-6">
        <h4>Supergroups</h4>
      </div>
      <article class="grid-container">
        <div class="cell small-6">
          {% if supergroups %}
            <div class="grid-x grid-margin-x small-up-4 medium-up-6 large-up-8">
              {% for group in supergroups %}
              <div class="cell">
              <a target="_blank" href="{% url 'index' %}?group={{ group.id }}">
                <img class="thumbnail" src="{% static group.picture %}">
                <h6>{{ group.title }}</h6>
              </a>
              </div>
              {% endfor %}
            </div>
          {% else %}
            <p>No supergroups are available.</p>
          {% endif %}
        </div>
      </article>

