{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message.fromid.username }} <a href="/polls/{{ message.id }}/">{{ message.message }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No messages are available.</p>
{% endif %}
