{% load static %}
      <div class="cell small-6">
        <h4>Users</h4>
      </div>
      <article class="grid-container">
        <div class="cell small-6">
        {% if users %}
          <div class="grid-x grid-margin-x small-up-4 medium-up-6 large-up-8">
            {% for user in users %}
            <div class="cell">
              <a target="_blank" href="{% url 'index' %}?user={{ user.id }}">
              <img class="thumbnail" src="{% static user.picture %}">
              <h6>{{ user.display_complete_name }}</h6>
              </a>
            </div>
            {% endfor %}
          </div>
        {% else %}
          <p>No users are available.</p>
        {% endif %}
        </div>
      </article>


