.message {
}
.quoted {
  color: #527bb8;
  font-size: 0.8em;
}
.quoted-container {
  margin-left: 30px;
}
.quoted.header {
  font-size: 0.8em;
}
.quoted.message {
  color: #aaa;
}
.message.header {
  font-size: 0.9em;
}

.date {
  font-weight: bold;
}
.user.username {
  font-weight: bold;
  font-size: 1.1em;
}
.user.fullname {
  color: #bbb;
}
.group.name {
  color: #779ba2;
  font-weight: bold;
}
.user-picture {
  width: 120px;
  height: 120px;
}
.group-picture {
  width: 120px;
}
.clip-circle {
  clip-path: circle(60px at center);
}
.button {
  padding: 0.3em 2em;
}
